<header>
	<div id="header">
		<div class="container">
			<div
				class="row">
				<!-- LOGO -->
				<div class="col-md-3">
					<div class="header-logo">
						<a href="#" class="logo">
							<img src="{{ asset('img/logo.png') }}" alt="">
						</a>
					</div>
				</div>
				<!-- /LOGO -->

				<!-- SEARCH BAR -->
				<div class="col-md-5">
					<div class="header-search">
						<form>
							<select class="input-select">
								<option value="0">Genero</option>
								<option value="1">Category 01</option>
								<option value="1">Category 02</option>
							</select>
							<input class="input" placeholder="Buscar juego">
							<button class="search-btn">Buscar</button>
						</form>
					</div>
				</div>
				<!-- /SEARCH BAR -->

				<div class="col-md-4 clearfix">
					<div class="header-auth">
						{% if is_granted('IS_AUTHENTICATED') %}
							<a class="auth-btn" href={{ path('app_logout') }}>
								<i class="fa fa-sign-out sr-icons"></i>
								Salir - {{ app.user.name }}
							</a>
						{% else %}
							<a class="auth-btn" href={{ path('app_login') }}>
								Iniciar sesión
							</a>
							<a class="auth-btn" href={{ path('app_register') }}>
								Registrarse
							</a>

						{% endif %}

						<!-- Menu Toogle -->
						<div class="menu-toggle">
							<a href="#">
								<i class="fa fa-bars"></i>
								<span>Menu</span>
							</a>
						</div>
						<!-- /Menu Toogle -->
					</div>
				</div>

			</div>
		</div>
	</div>
</header>
