<header>
	<div id="header">
		<div class="container">
			<div class="row">

				<div class="col-md-3">
					<div class="header-logo">
						<a href="{{ path('home') }}" class="logo-text">
							GameHub<span class="logo-dot">.</span>
						</a>
					</div>
				</div>

				<div class="col-md-5">
					<div class="header-search">
						<form method="get" action="{{ path('home') }}">
							<input class="input" name="q" placeholder="Buscar juego">
							<button type="submit" class="search-btn">
								<i class="fa fa-search"></i>
							</button>
						</form>
					</div>
				</div>	

				<div class="col-md-4 clearfix">
					<div class="header-auth">
						{% if is_granted('IS_AUTHENTICATED') %}
							<a class="auth-btn" href={{ path('app_logout') }}>
								<i class="fa fa-sign-out sr-icons"></i>
								Salir -
								{{ app.user.name }}
							</a>
						{% else %}
							<a class="auth-btn" href={{ path('app_login') }}>
								Iniciar sesión
							</a>
							<a class="auth-btn" href={{ path('app_register') }}>
								Registrarse
							</a>

						{% endif %}

						<div class="menu-toggle">
							<a href="#">
								<i class="fa fa-bars"></i>
								<span>Menu</span>
							</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</header>
