<nav id="navigation">
    <div class="container">
        <div id="responsive-nav">
            <ul class="main-nav nav navbar-nav">

                <li class="{{ app.request.attributes.get('_route') == 'home' ? 'active' : '' }}">
                    <a href="{{ path('home') }}">Home</a>
                </li>

                {% if is_granted('IS_AUTHENTICATED') %}

                    <li class="{{ app.request.attributes.get('_route') == 'user_games' ? 'active' : '' }}">
                        <a href="{{ path('user_games') }}">Mis juegos</a>
                    </li>

                    <li class="{{ app.request.attributes.get('_route') == 'user_purchases' ? 'active' : '' }}">
                        <a href="{{ path('user_purchases') }}">Mis compras</a>
                    </li>

                    <li class="{{ app.request.attributes.get('_route') == 'game_new' ? 'active' : '' }}">
                        <a href="{{ path('game_new') }}">Añadir juego</a>
                    </li>

                    <li class="{{ app.request.attributes.get('_route') == 'user_profile' ? 'active' : '' }}">
                        <a href="{{ path('user_profile') }}">Perfil</a>
                    </li>

                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="{{ app.request.attributes.get('_route') starts with 'admin_' ? 'active' : '' }}">
                            <a href="{{ path('admin_users') }}">Gestión de usuarios</a>
                        </li>
                    {% endif %}

                {% endif %}

                <li class="{{ app.request.attributes.get('_route') == 'about_us' ? 'active' : '' }}">
                    <a href="{{ path('about_us') }}">Sobre Nosotros</a>
                </li>   

                <li class="{{ app.request.attributes.get('_route') == 'contact_us' ? 'active' : '' }}">
                    <a href="{{ path('contact_us') }}">Contáctanos</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
